<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nazir.shopping">

    <!-- *************************Get Current Location**************** -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- *************************External Storage**************** -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreenTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/NoActionBar" />
        <activity android:name=".HookahsListActivity" />
        <activity android:name=".HookahDetailActivity" />
        <activity android:name=".CartActivity" />
        <!-- <activity android:name=".Navigation.OrderStatusActivity" /> -->


        <!-- ***************************Facebook******************* -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--<provider-->
            <!--android:name="com.facebook.FacebookContentProvider"-->
            <!--android:authorities="com.facebook.app.FacebookContentProvider236333873646899"-->
            <!--android:exported="true" />-->

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <!-- ***************************Firebase Notification******************* -->
        <service android:name=".Service.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- ********************Set the Logo for the Notification -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/magix_logo" />

        <!-- ***************************Google Places******************* -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAO6zcJV81soyOJAArsMLDRlM-anHfFP74" />

        <activity android:name=".ShowFeedbackComment" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".OrderDetailActivity"></activity>
    </application>

</manifest>